@using Gnc2.Com.Helpers;
 
<section class="feed">
    <section class="fLeft"><img src="@PathHelper.UrlStatic/images/_offline/users/nusret.jpg" /></section>
    <section class="fRight">
        <span class="ballon fReg">+150</span>
        <label class="name">Nusret S.</label>
        <label class="desc"><u>Kahve Fırsatını</u> yakaladı.</label>
    </section>
</section>

<section class="feed">
    <section class="fLeft"><img src="@PathHelper.UrlStatic/images/_offline/users/lara.jpg" /></section>
    <section class="fRight">
        <label class="name">Lara A.</label>
        <label class="desc"><u>SMS Paketi Rozetini</u> Aldı.</label>
    </section>
</section>

<section class="feed">
    <section class="fLeft"><img src="@PathHelper.UrlStatic/images/_offline/users/nusret.jpg" /></section>
    <section class="fRight">
        <span class="ballon fReg">+150</span>
        <label class="name">Nusret S.</label>
        <label class="desc"><u>Kahve Fırsatını</u> yakaladı.</label>
    </section>
</section>

<section class="feed">
    <section class="fLeft"><img src="@PathHelper.UrlStatic/images/_offline/users/merve.jpg" /></section>
    <section class="fRight">
        <label class="name">Merve Ö.</label>
        <label class="desc"><u>Sinema Fırsatını</u> yakaladı.</label>
    </section>
</section>

<section class="feed">
    <section class="fLeft"><img src="@PathHelper.UrlStatic/images/_offline/users/lara.jpg" /></section>
    <section class="fRight">
        <label class="name">Lara A.</label>
        <label class="desc"><u>SMS Paketi Rozetini</u> Aldı.</label>
    </section>
</section>

<section class="feed">
    <section class="fLeft"><img src="@PathHelper.UrlStatic/images/_offline/users/merve.jpg" /></section>
    <section class="fRight">
        <span class="ballon fReg">+150</span>
        <label class="name">Merve Ö.</label>
        <label class="desc"><u>Sinema Fırsatını</u> yakaladı.</label>
    </section>
</section>