@using Gnc2.Com.Helpers
<ul class="packageLoadList fReg">
    <li>
        <a href="javascript:;" class="title">
            <section class="fLeft"><img src="@PathHelper.UrlStatic/images/icons/tl-load-icon.png" /></section>
            <section class="fRight">TL YÜKLE</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft">12 <span class="currency">tl</span></section>
            <section class="fRight">12 TL</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft">20 <span class="currency">tl</span></section>
            <section class="fRight">STANDART</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft">25 <span class="currency">tl</span></section>
            <section class="fRight">25 TL</section>
        </a> 
    </li>
</ul>
<ul class="packageLoadList fReg">
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft">30 <span class="currency">tl</span></section>
            <section class="fRight">AVANTAJ</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft">50 <span class="currency">tl</span></section>
            <section class="fRight">SÜPER</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft">95 <span class="currency">tl</span></section>
            <section class="fRight">SUPER PLUS</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft">180<span class="currency">tl</span></section>
            <section class="fRight">MEGA</section>
        </a> 
    </li>
</ul>
<ul class="packageLoadList fReg space">
    <li>
        <a href="javascript:;" class="title">
            <section class="fLeft"><img src="@PathHelper.UrlStatic/images/icons/package-load-icon.png" /></section>
            <section class="fRight">PAKET YÜKLE</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft"><img src="@PathHelper.UrlStatic/images/icons/pomegranate-icon.png" /></section>
            <section class="fRight">SÜPER</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft"><img src="@PathHelper.UrlStatic/images/icons/computer-icon.png" /></section>
            <section class="fRight doubleLine">BİLGİSAYARDAN İNTERNET</section>
        </a> 
    </li>
    <li>
        <a href="javascript:;" class="package">
            <section class="fLeft"><img src="@PathHelper.UrlStatic/images/icons/mobile-icon.png" /></section>
            <section class="fRight doubleLine">CEPTEN İNTERNET</section>
        </a> 
    </li>
</ul>